/* Navbar.module.css */

/* Logo */
.logo {
  width: 180px;
  height: 48px;
}

/* Hover styles */
.text-white:hover {
  color: white;
}

.hover-bg-gray-200:hover {
  background-color: #e2e8f0;
}

/* ... Other styles ... */
